<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="../styles/schedule.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gajraj+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <div class="sidebar">
        <div class="user">
            <img class="profile-icon" src="../../assets/images/Icon1.png" alt="logo">
            <span class="name" id="name">Juan Dela Cruz</span>
            <span class="email" id="email">juandelacruz@gmail.com</span>
            <span class="menu material-symbols-outlined">menu</span>

        </div>
        <a href="dashboardTrainers.html">Dashboard</a>
        <a href="trainerProfile.html">Trainer Profile</a>
        <a class="active" href="#">Schedule</a>
        <a class="logout" id="logout-btn">Log out</a>
    </div>
    <div class="content">
        <header class="headers">
            <div class="header1">
                <div class="title">
                    <img class="title-icon" src="../../assets/images/Icon.png" alt="">
                    <img src="../../assets/images/IconTitle.png" alt="" class="title-name">
                    <div class="page-title">Schedule</div>
                </div>
            </div>
            <div class="header2">
                <div class="dateTime">
                    <p class="date" id="date"></p>
                    <p class="time" id="time"></p>
                </div>
                <button class="addPlan">Edit Schedule</button>
            </div>
        </header>
        <section class="plan-content">
            <div class="schedule">
                <div class="schedule-month">
                    <div class="previous-month">&lt;</div>
                    <div class="month">March</div>
                    <div class="next-month">&gt;</div>
                </div>
                <table>
                    <thead>
                        <th>Time/Day</th>
                        <th id="weekday1">Sunday</th>
                        <th id="weekday2">Monday</th>
                        <th id="weekday3">Tuesday</th>
                        <th id="weekday4">Wednesday</th>
                        <th id="weekday5">Thursday</th>
                        <th id="weekday6">Friday</th>
                        <th id="weekday7">Saturday</th>
                    </thead>
                    <tr>
                        <td>10:00 AM-12:00 NN<br>02:00 PM-04:00 PM<br>06:00 PM-08:00 PM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">1</strong><p style="color: red;">Available</p><p style="color: red;">Available</p><p style="color: red;">Available</p></td>
                    </tr>
                    <tr>
                        <td>10:00 AM-12:00 NN<br>02:00 PM-04:00 PM<br>06:00 PM-08:00 PM</td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">2</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">3</strong><p style="color: red;">Available</p><p style="color: #8C0909;">Ava Fernandez</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">4</strong><p style="color: #8C0909;">Isabella Hughes</p><p style="color: #8C0909;">Nathaniel Scott</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">5</strong><p style="color: red;">Available</p><p style="color: red;">Available</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">6</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">2</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">8</strong><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Olivia Brooks</p><p style="color: black;">Unavailable</p></td>
                    </tr>
                    <tr>
                        <td>10:00 AM-12:00 NN<br>02:00 PM-04:00 PM<br>06:00 PM-08:00 PM</td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">9</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">10</strong><p style="color: red;">Available</p><p style="color: #8C0909;">Ava Fernandez</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">11</strong><p style="color: #8C0909;">Isabella Hughes</p><p style="color: #8C0909;">Nathaniel Scott</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">12</strong><p style="color: red;">Available</p><p style="color: red;">Available</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">13</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">14</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">15</strong><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Olivia Brooks</p><p style="color: black;">Unavailable</p></td>
                    </tr>
                    <tr>
                        <td>10:00 AM-12:00 NN<br>02:00 PM-04:00 PM<br>06:00 PM-08:00 PM</td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">16</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">17</strong><p style="color: red;">Available</p><p style="color: #8C0909;">Ava Fernandez</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">18</strong><p style="color: #8C0909;">Isabella Hughes</p><p style="color: #8C0909;">Nathaniel Scott</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">19</strong><p style="color: red;">Available</p><p style="color: red;">Available</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">20</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">21</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">22</strong><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Olivia Brooks</p><p style="color: black;">Unavailable</p></td>
                    </tr>
                    <tr>
                        <td>10:00 AM-12:00 NN<br>02:00 PM-04:00 PM<br>06:00 PM-08:00 PM</td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">23</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">24</strong><p style="color: red;">Available</p><p style="color: #8C0909;">Ava Fernandez</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">25</strong><p style="color: #8C0909;">Isabella Hughes</p><p style="color: #8C0909;">Nathaniel Scott</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">26</strong><p style="color: red;">Available</p><p style="color: red;">Available</p><p style="color: red;">Available</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">27</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Ethan Wallace</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">28</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">29</strong><p style="color: black;">Unavailable</p><p style="color: #8C0909;">Olivia Brooks</p><p style="color: black;">Unavailable</p></td>
                    </tr>
                    <tr>
                        <td>10:00 AM-12:00 NN<br>02:00 PM-04:00 PM<br>06:00 PM-08:00 PM</td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">30</strong><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p><p style="color: black;">Unavailable</p></td>
                        <td><strong style="color: #8C0909; display: flex; align-items: left;">31</strong><p style="color: red;">Available</p><p style="color: #8C0909;">Ava Fernandez</p><p style="color: red;">Available</p></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="schedule-confirmation">
                    <button class="confirm-schedule" type="button" id="confirm-schedule">Confirm</button>
                    <button class="close-schedule" type="button" id="close-schedule">Cancel</button>
                </div>
            </div>
            
        </section>
    </div>
    <div class="background" id="background"></div>
    <div class="error-message-box" id="error-message-box">
        <span class="error-title" id="error-title">Logout</span>
        <p class="error-message-login" id="error-message-login">Test message.</p>
        <div class="confirmation">
            <button class="confirm" type="button" onclick="confirmErrorMessageBox()" id="confirm-error-message-box">Confirm</button>
            <button class="close" type="button" onclick="closeErrorMessageBox()" id="close-error-message-box">Cancel</button>
        </div>
    </div>
</body>

<script type="module" src="../javascript/plan.js"></script>
</html>