* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

    /* THIS IS THE SIDEBAR CSS */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #8C0909;
    color: white;
    height: 100%;
    width: 20%;
    position: fixed;
    margin: 0;
    padding: 0;
}

.menu.material-symbols-outlined {
    display: none;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.profile-icon {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 20%;
    height: auto;
    margin-bottom: 1%;
}

.name {
    font-size: 1vw;
    font-weight: bold;
}

.email {
    font-size: .8vw;
    margin-bottom: 10%;
}

a {
    color: white;
    width: 100%;
    text-decoration: none;
    font-size: medium;
    margin-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 50%;
    text-align: left;
    display: flex;
    font-weight: bold;
}

a:hover, a:active {
    color: #8C0909;
    background-color: white;
    width: 80%;
}

.sidebar a.active {
    background-color: white;
    color: #8C0909;
    width: 80%;
}

.logout {
    width: 100%;
    margin-top: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout:hover {
    color: #8C0909;
    background-color: white;
    width: 80%; /* Keep width consistent */
    padding-left: 20%;
    white-space: nowrap;
    text-align: center; /* Ensure text stays centered */
}

.background {
    display: none;
    position: fixed; /* Positioning the background */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: 1; Make sure it stays on top */
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent dark background */
}

.error-message-box {
    color: black;
    background-color: white;
    font-size: 1.5vh;
    /* margin-top: 5px; */
    display: block;
    /* margin-bottom: 10%; */
    border-width: 1px;
    border-style: solid;
    padding: 1%;
    box-shadow: 1vh 1vh 1vh black;
    width: 25%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    visibility: hidden;
    /* flex-direction: row; */
    /* display: ; */
}

.open-error-message-box {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}

.error-title {
    color: #8C0909;
    font-size: 100%;
    text-align: left;
    margin-bottom: 20%;
}

.error-message-login {
    color: black;
    font-size: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    /* justify-content: center; */
}

button:not(.update-details, .update-password, .update-details-save, .update-details-cancel, .update-password-save, .update-password-cancel) {
    /* width: 100%; */
    margin-top: 10%;
    padding: 3%;
    /* border-radius: 5px; */
    cursor: pointer;
    /* font-size: 1vw; */
    align-self: center;
}

.confirmation {
    display: flex;
    justify-content: space-between;
}

.confirm {
    color: #ffffff;
    background-color: #8C0909;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size: 100%;
    text-align: center;
    width: 40%; 
    justify-self: center;
    display: block;
    /* margin-bottom: 10%; */
}

.confirm:hover {
    color: #8C0909;
    background-color: #d9d9d9;
}

.closeLogout {
    color: #8C0909;
    background-color: #d9d9d9;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size: 100%;
    text-align: center;
    width: 40%; 
    justify-self: center;
    display: block;
    /* margin-bottom: 10%; */
}

.closeLogout:hover {
    background-color: #8C0909;
    color: white;
}

    /* THIS IS THE CSS FOR THE ADMINISTRATION */

.content {
    margin-left: 20%;
    padding: 1%;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.headers {
    height: auto;
    /* background-color: #7cdd84cc; */
    flex-direction: row;
    display: flex;
}

.header1 {
    height: 100%;
    width: 40%;
    flex-direction: row;
    /* background-color: #dd7c7ccc; */
}

.title-icon {
    height: 15vh;
    width: auto;
}

.title-name {
    height: 15vh;
}

.page-title {
    /* font-family: "Poppins", "sans-serif"; */
    font-size: 5vh;
    font-weight: 600;
    color: #8C0909;
}

.header2 {
    /* background-color: aquamarine; */
    height: 100%;
    width: 60%;
    flex-direction: row;
}

.dateTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 5px 5px 10px 2px rgb(138, 138, 138); */
    width: 50%;
    margin-left: auto;
    padding: 1%;
}

.administration-content {
    height: 75%;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.profile {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    width: 50%;
    padding: 2%;
    height: 100%;
}

.profile-image {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon-main {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
}

.profile-title {
    margin-top: 5%;
    font-size: 2vh;
    font-weight: bold;
    color: #8C0909;
}

.profile-fullname, .profile-nickname, .profile-contact {
    margin-bottom: 5%;
    font-size: 3vh;
    font-weight: bold;
}

button:not(.confirm, .closeLogout, .confirm:hover, .closeLogout:hover) {
    font-size: 2vh;
    font-weight: bold;
    color: white;
    background-color: #8C0909;
    width: 30%;
    padding: 1%;
    /* border: none; */
}

.update-profile {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* box-shadow: 5px 5px 10px 2px rgb(138, 138, 138); */
    width: 100%;
    padding: 2%;
    margin-top: -9%;
    margin-left: 2%;
    height: 120%;
}

.open.update-details-content {
    display: none;
}

.update-details-content, .update-password-content {
    margin-top: -6%;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: -32%;
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
}

.update-password-content {
    margin-top: -6%;
}

.update-details-title, .update-password-title {
    font-size: 2vh;
    font-weight: bold;
    text-align: left;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    /* color: #8C0909; */
}

.update-details-form, .update-password-form {
    color: #8C0909;
    font-size: 1.8vh;
    font-weight: bold;
    flex-direction: column;
    margin-left: 20%;
}

.update-details-form-title, .update-password-form-title {
    margin-top: 2%;
}

.update-details-form-input, .update-password-form-input {
    width: 70%;
    /* margin-top: 2%; */
    padding: 1%;
    font-size: 2vh;
    display: flex;
}

.update-details-buttons, .update-password-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 5%;
}

.update-details-save, .update-details-cancel, .update-password-save, .update-password-cancel {
    margin-left: 2%;
    font-size: 1.5vh;
    padding: 1%;
}

.update-details-cancel, .update-password-cancel {
    background-color: #ececec;
    color: #8C0909;
}

.update-password {
    margin-top: 35%;
    /* width: 15%; */
    /* position: fixed; */
}

.open.update-password-content {
    display: none;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
}

.update-password-form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 1279px) {

    .sidebar {
        width: 20%;
    }
    
    a {
        font-size: 1.5vh;
    }

    .logout {
        font-size: 2vh;
    }

    .content {
        width: 80%;
        margin-left: 20%;
    }

    .headers {
        height: 15%;
    }
    
    .title-icon, .title-name {
        height: 10vh;
    }

    .page-title {
        font-size: 3vh;
    }

    .page-profile-content {
        font-size: 2vh;
    }

    .usericon {
        height: 5vh;
    }

    .username {
        font-size: 2vh;
    }

    .dateTime {
        font-size: 2vh;
        width: 100%;
    }

    .administration-content {
        height: 65%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 20%;
    }

    a {
        font-size: 1.2vh;
    }

    .logout {
        font-size: 1.8vh;
    }

    .content {
        width: 80%;
        margin-left: 20%;
    }

    .headers {
        height: 15%;
    }

    .title-icon, .title-name {
        height: 8vh;
    }

    .page-title {
        font-size: 2.5vh;
    }

    .page-profile-content {
        font-size: 1.8vh;
    }

    .usericon {
        height: 4vh;
    }

    .username {
        font-size: 1.8vh;
    }

    .dateTime {
        font-size: 1.8vh;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .sidebar {
        width: 100%;
        height: 40%;
        flex-direction: column;
        position: relative;
        display: flex;
        overflow: hidden;
    }

    .sidebar a.active {
        width: 100%;
    }

    .sidebar.hidden{
        width: 100%;
        height: 5%;
        flex-direction: column;
        position: relative;
        display: flex;
        overflow: hidden;
        /* opacity: 0; */
    }

    .menu.material-symbols-outlined {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 10px;
        right: 10px; /* Moves the menu icon to the right */
        cursor: pointer;
        font-size: 24px; /* Adjust size if needed */
        color: white; /* Adjust color if needed */
    }

    /* .sidebar:hover, .sidebar:active {
        height: 10%;
    } */

    .user {
        margin-top: 12%;
        margin-left: 5%;
        margin-bottom: 0%;
        align-items: center;
    }

    .profile-icon {
        height: 4vh;
        width: auto;
    }

    .name {
        font-size: 2vh;
    }

    .email {
        font-size: 1.5vh;
        margin-bottom: 5%;
    }

    a {
        width: 100%;
        flex-direction: row;
        font-size: 1.5vh;
        margin-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    a:not(logout) {
        margin-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        /* text-align: right;    */
    }

    a:hover, a:active {
        color: #8C0909;
        background-color: white;
        width: 100%;
    }

    .logout {
        margin-top: 5%;
        font-size: 1.5vh;
    }

    .logout:hover {
        padding-left: 0%;
        width: 100%;
    }

    .title-icon, .title-name {
        height: 5vh;
    }

    .page-title {
        font-size: 2vh;
    }

    .dateTime {
        display: flex;
        align-items: end;
        /* justify-content: space-between; */
        width: 70%;
        /* margin-top: 1%; */
        margin-left: auto;
        padding: 1%;
        font-size: 50%;
    }

    .content {
        margin-left: 0%;
        padding: 1%;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .administration-content
    {
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .profile{
        width: 100%;
    }

    .update-profile{
        display: flex;
        width: 100%;
        margin: 0%;
    }

    .error-message-box {
        /* font-size: 1.5vw; */
        width: 50%;
    }
}
