* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #8C0909;
    color: white;
    height: 100%;
    width: 20%;
    /* align-items: center; */
    /* justify-content: center; */
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.profile-icon {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 20%;
    height: auto;
    margin-bottom: 1%;
}

.name {
    font-size: 1vw;
    font-weight: bold;
}

.email {
    font-size: smaller;
    margin-bottom: 10%;
}

a {
    color: white;
    text-decoration: none;
    font-size: medium;
    margin-left: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 50%;
    text-align: left;
    display: block;
    /* justify-content: center; */
    align-items: center;
    font-weight: bold   ;
}

a:not(logout) {
    margin-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 50%;
    text-align: left;   
}

a:hover, a:active {
    color: black;
    background-color: white;
}

.sidebar a.active {
    background-color: white;
    color: #8C0909;
}

/* .sidebar a:not(.logout) {
    color:white;
    background-color: none;
} */

.logout {
    margin-top: auto;
    margin-bottom: 10%;
    margin-left: 0%;
    padding-left: 10%;
    padding-right: 10%;
    /* font-weight: bold; */
    font-size: 3vh;
    align-self: center;
    /* text-align: center;   */
}

.logout:hover {
    color: black;
    background-color: white;
    /* padding: 10%; */
}

.content {
    margin-left: 20%;
    padding: 1%;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.headers {
    height: 40%;
    /* background-color: #7cdd84cc; */
    flex-direction: row;
    display: flex;
}

.header1 {
    height: 100%;
    width: 50%;
    flex-direction: row;
    /* background-color: #dd7c7ccc; */
}

.title {
    font-family: "Gajraj One", sans-serif;
    /* background-color: #cccc; */
}

.title-icon {
    height: 15vh;
    width: auto;
}

.title-name {
    height: 15vh;
}

.page-title {
    /* font-family: "Poppins", "sans-serif"; */
    font-size: 5vh;
    font-weight: 600;
    color: #8C0909;
}

.page-profile {
    flex-direction: row;
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 2vh;
}

.page-profile-content {
    font-size: 3vh;
    width: 100%;
    /* display: grid; */
    /* background-color: aqua; */
    align-items: flex-end;
}

.username {
    color: #8C0909;
    font-weight: bold;
}

.usericon {
    height: 7vh;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    object-fit: cover;
}

.header2 {
    /* background-color: aquamarine; */
    height: 100%;
    width: 50%;
    flex-direction: row;
}

.dateTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 5px 5px 10px 2px rgb(138, 138, 138); */
    width: 50%;
    margin-left: auto;
    padding: 1%;
}

.report {
    margin-top: 3%;
    /* height: 100%; */
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    padding: 2%;
}

.report-title {
    font-weight: bold;
    font-size: 3vh;
}

.report-content {
    flex-direction: row;
    display: flex;
}

.report-members-content, .report-sales-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.members, .sales {
    font-size: 6vh;
    font-weight: bold;
    margin-top: 10%;
}

.total-members-increase, .total-sales-increase {
    font-style: italic;
    color: #8C0909;
}

.dashboard-content {
    height: 60%;
    /* background-color: #dd7c7ccc; */
    display: flex;
    flex-direction: row;
}

.trainers {
    width: 20%;
    padding: 2%;
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    /* background-color: aquamarine; */
}

.trainer-title, .members-title {
    font-size: 2vh;
    font-weight: bold;
}

.trainer-members {
    display: flex;
    flex-direction: column;
}

.trainer-details {
    display: flex;
    align-items: left;
    font-weight: bold;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 3%;
}

.trainer-profile {
    height: 5vh;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    object-fit: cover;
    margin-right: 5%;
}

.active-members {
    width: 80%;
    margin-top: 2%;
    padding-left: 2%;
    position: relative;
    overflow-y: auto;
}

.table-header {
    padding-bottom: 2%;
}

.members-title, .members-search, .table-header {
    position: sticky;
    top: 0;
    background-color: white;
}

.search-wrapper {
    position: relative;
}

.member-search {
    /* padding-right: 30px; Make room for the icon */
    padding: 1%;
    width: 30%;
}

.search-icon {
    position: absolute;
    right: 10px;  /* Position the icon inside the input, on the right */
    top: 50%;
    transform: translateY(-50%); /* Vertically center the icon */
    pointer-events: none; /* Make the icon unclickable */
}

.table-container {
    width: 100%;
    border-spacing: 5%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: white;
    top: 15%;
    position: sticky;
}

td {
    padding: 1%;
    white-space: nowrap;
}

/* .member-table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */





