* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

    /* THIS IS THE SIDEBAR CSS */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #8C0909;
    color: white;
    height: 100%;
    width: 20%;
    position: fixed;
    margin: 0;
    padding: 0;
}

.menu.material-symbols-outlined {
    display: none;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.profile-icon {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 20%;
    height: auto;
    margin-bottom: 1%;
}

.name {
    font-size: 1vw;
    font-weight: bold;
}

.email {
    font-size: .8vw;
    margin-bottom: 10%;
}

a {
    color: white;
    width: 100%;
    text-decoration: none;
    font-size: medium;
    margin-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 50%;
    text-align: left;
    display: flex;
    font-weight: bold;
}

a:hover, a:active {
    color: black;
    background-color: white;
    width: 80%;
}

.sidebar a.active {
    background-color: white;
    color: black;
    width: 80%;
}

.logout {
    width: 100%;
    margin-top: auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout:hover {
    color: black;
    background-color: white;
    width: 80%; /* Keep width consistent */
    padding-left: 20%;
    white-space: nowrap;
    text-align: center; /* Ensure text stays centered */
}

.background {
    display: none;
    position: fixed; /* Positioning the background */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: 1; Make sure it stays on top */
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent dark background */
}

.error-message-box {
    color: black;
    background-color: white;
    font-size: 1.5vh;
    /* margin-top: 5px; */
    display: block;
    /* margin-bottom: 10%; */
    border-width: 1px;
    border-style: solid;
    padding: 1%;
    box-shadow: 1vh 1vh 1vh black;
    width: 25%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    visibility: hidden;
    /* flex-direction: row; */
    /* display: ; */
}

.open-error-message-box {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}

.error-title {
    color: #8C0909;
    font-size: 100%;
    text-align: left;
    margin-bottom: 20%;
}

.error-message-login {
    color: black;
    font-size: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    /* justify-content: center; */
}

button{
    width: 100%;
    margin-top: 10%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    align-self: center;
}

.confirmation {
    display: flex;
    justify-content: space-between;
}

.confirm {
    color: #ffffff;
    background-color: #8C0909;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size: 100%;
    text-align: center;
    width: 40%; 
    justify-self: center;
    display: block;
    /* margin-bottom: 10%; */
}

.confirm:hover {
    color: #8C0909;
    background-color: #d9d9d9;
}

.close {
    color: #8C0909;
    background-color: #d9d9d9;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size: 100%;
    text-align: center;
    width: 40%; 
    justify-self: center;
    display: block;
    /* margin-bottom: 10%; */
}

.close:hover {
    background-color: #8C0909;
    color: white;
}

    /* THIS IS THE CSS FOR THE DASHBOARD */

.content {
    margin-left: 20%;
    padding: 1%;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.headers {
    height: 40%;
    /* background-color: #7cdd84cc; */
    flex-direction: row;
    display: flex;
}

.header1 {
    height: 100%;
    width: 50%;
    flex-direction: row;
    /* background-color: #dd7c7ccc; */
}

.title-icon {
    height: 15vh;
    width: auto;
}

.title-name {
    height: 15vh;
}

.page-title {
    /* font-family: "Poppins", "sans-serif"; */
    font-size: 5vh;
    font-weight: 600;
    color: #8C0909;
}

.page-profile {
    flex-direction: row;
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    /* margin: 2%; */
    width: 98%;
}

.page-profile-content {
    font-size: 3vh;
    width: 100%;
    /* display: grid; */
    /* background-color: aqua; */
    align-items: flex-end;
}

.username {
    color: #8C0909;
    font-weight: bold;
}

.usericon {
    height: 7vh;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    object-fit: cover;
}

.header2 {
    /* background-color: aquamarine; */
    height: 100%;
    width: 50%;
    flex-direction: row;
}

.dateTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 5px 5px 10px 2px rgb(138, 138, 138); */
    width: 50%;
    margin-left: auto;
    padding: 1%;
}

.report {
    margin-top: 3%;
    /* height: 100%; */
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    padding: 2%;
}

.report-title {
    font-weight: bold;
    font-size: 3vh;
}

.report-content {
    flex-direction: row;
    display: flex;
}

.report-members-content, .report-sales-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.members, .sales {
    font-size: 6vh;
    font-weight: bold;
    margin-top: 10%;
}

.total-members-increase, .total-sales-increase {
    font-style: italic;
    color: #8C0909;
}

.dashboard-content {
    height: 60%;
    /* background-color: #dd7c7ccc; */
    display: flex;
    flex-direction: row;
}

.trainers {
    width: 20%;
    padding: 2%;
    box-shadow: 5px 5px 10px 2px rgb(138, 138, 138);
    /* background-color: aquamarine; */
}

.trainer-title, .members-title {
    font-size: 2vh;
    font-weight: bold;
}

.trainer-members {
    display: flex;
    flex-direction: column;
}

.trainer-details {
    display: flex;
    align-items: left;
    font-weight: bold;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 3%;
}

.trainer-profile {
    height: 5vh;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    object-fit: cover;
    margin-right: 5%;
}

.active-members {
    width: 80%;
    margin-top: 2%;
    padding-left: 2%;
    position: relative;
    overflow-y: auto;
}

.table-header {
    padding-bottom: 2%;
}

.members-title, .members-search, .table-header {
    position: sticky;
    top: 0;
    background-color: white;
}

.search-wrapper {
    position: relative;
}

.member-search {
    /* padding-right: 30px; Make room for the icon */
    padding: 1%;
    width: 30%;
}

.search-icon {
    position: absolute;
    right: 10px;  /* Position the icon inside the input, on the right */
    top: 50%;
    transform: translateY(-50%); /* Vertically center the icon */
    pointer-events: none; /* Make the icon unclickable */
}

.table-container {
    width: 100%;
    border-spacing: 5%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: white;
    top: 15%;
    position: sticky;
}

td {
    padding: 1%;
    white-space: nowrap;
}

/* .member-table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */

@media (max-width: 1279px) {

    .sidebar {
        width: 20%;
    }
    
    a {
        font-size: 1.5vh;
    }

    .logout {
        font-size: 2vh;
    }

    .content {
        width: 80%;
        margin-left: 20%;
    }

    .headers {
        height: 35%;
    }
    
    .title-icon, .title-name {
        height: 10vh;
    }

    .page-title {
        font-size: 3vh;
    }

    .page-profile-content {
        font-size: 2vh;
    }

    .usericon {
        height: 5vh;
    }

    .username {
        font-size: 2vh;
    }

    .dateTime {
        font-size: 2vh;
        width: 100%;
    }

    .report-title {
        font-size: 2vh;
    }

    .report-content {
        /* flex-direction: column; */
    }

    .report-members-content, .report-sales-content {
        width: 100%;
        margin: 2%;
    }

    .members, .sales {
        font-size: 4vh;
    }

    .total-members-increase, .total-sales-increase {
        font-size: 1.5vh;
    }

    .dashboard-content {
        height: 65%;
    }

    .trainers {
        width: 25%;
    }

    .trainer-title, .members-title {
        font-size: 1.5vh;
    }

    .trainer-profile {
        height: 3vh;
    }

    .trainer-members {
        font-size: 1.5vh;
    }

    .active-members {
        width: 90%;
    }

    .table-header {
        padding-bottom: 1%;
    }

    .members-title, .members-search, .table-header {
        font-size: 1.5vh;
    }

    .member-search {
        padding: 1%;
        width: 40%;
    }

    .search-icon {
        right: 5px;
    }

    .table-container {
        border-spacing: 2%;
    }

    th {
        font-size: 1.5vh;
        top: 10%;
    }

    td {
        padding: 1%;
        font-size: 1.5vh;
    }
}

@media (max-width: 768px) {
    
    .sidebar {
        width: 20%;
    }

    a {
        font-size: 1.2vh;
    }

    .logout {
        font-size: 1.8vh;
    }

    .content {
        width: 80%;
        margin-left: 20%;
    }

    .headers {
        height: 30%;
    }

    .title-icon, .title-name {
        height: 8vh;
    }

    .page-title {
        font-size: 2.5vh;
    }

    .page-profile-content {
        font-size: 1.8vh;
    }

    .usericon {
        height: 4vh;
    }

    .username {
        font-size: 1.8vh;
    }

    .dateTime {
        font-size: 1.8vh;
        width: 100%;
    }

    .report-title {
        font-size: 1.8vh;
    }

    .report-content {
        /* flex-direction: column; */
    }

    .report-members-content, .report-sales-content {
        width: 100%;
        margin: 2%;
        font-size: 2vh;
    }

    .members, .sales {
        font-size: 3vh;
    }

    .total-members-increase, .total-sales-increase {
        font-size: 1.2vh;
    }

    .dashboard-content {
        height: 70%;
    }

    .trainers {
        width: 30%;
    }

    .trainer-title, .members-title {
        font-size: 1.2vh;
    }

    .trainer-profile {
        height: 2.5vh;
    }

    .trainer-members {
        font-size: 1.2vh;
    }

    .active-members {
        width: 100%;
    }

    .table-header {
        padding-bottom: 1%;
    }

    .members-title, .members-search, .table-header {
        font-size: 1.2vh;
    }

    .member-search {
        padding: 1%;
        width: 50%;
    }

    .search-icon {
        right: 5px;
    }

    .table-container {
        border-spacing: 2%;
    }

    th {
        font-size: 1.2vh;
        top: 5%;
    }

    td {
        padding: 1%;
        font-size: 1.2vh;
    }
}

@media (max-width: 425px) {

    .sidebar {
        width: 100%;
        height: 40%;
        flex-direction: column;
        position: relative;
        display: flex;
        overflow: hidden;
    }

    .sidebar a.active {
        width: 100%;
    }

    .sidebar.hidden{
        width: 100%;
        height: 5%;
        flex-direction: column;
        position: relative;
        display: flex;
        overflow: hidden;
        /* opacity: 0; */
    }

    .menu.material-symbols-outlined {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 10px;
        right: 10px; /* Moves the menu icon to the right */
        cursor: pointer;
        font-size: 24px; /* Adjust size if needed */
        color: white; /* Adjust color if needed */
    }

    /* .sidebar:hover, .sidebar:active {
        height: 10%;
    } */

    .user {
        margin-top: 12%;
        margin-left: 5%;
        margin-bottom: 0%;
        align-items: center;
    }

    .profile-icon {
        height: 4vh;
        width: auto;
    }

    .name {
        font-size: 2vh;
    }

    .email {
        font-size: 1.5vh;
        margin-bottom: 5%;
    }

    a {
        flex-direction: row;
        font-size: 1.5vh;
        margin-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    a:not(logout) {
        margin-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        /* text-align: right;    */
    }

    .logout {
        margin-top: 5%;
        font-size: 1.5vh;
    }

    .logout:hover {
        padding-left: 0%;
        width: 100%;
    }

    .title-icon, .title-name {
        height: 5vh;
    }

    .page-title {
        font-size: 2vh;
    }

    .content {
        flex-direction: column;
        display: flex;
        margin-left: 0%;
        padding: 3%;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .headers {
        height: 100%;
        width: 100%;
        margin: 0%;
        flex-direction: column;
    }

    .header1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .page-title {
        font-size: 3vh;
    }

    .page-profile {
        display: flex;
        margin: 1%;
        margin-left: auto;
        width: 50%;
    }

    .header2 {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    .dateTime {
        display: flex;
        align-items: end;
        /* justify-content: space-between; */
        width: 50%;
        /* margin-top: 1%; */
        margin-left: auto;
        padding: 1%;
        font-size: 50%;
    }

    .report {
        margin-top: 3%;
        padding: 2%;
        width: 100%;
        margin-bottom: 2%;
        /* display: flex; */
    }

    .dashboard-content {
        height: 100%;
        flex-direction: column;
        display: flex;
        /* margin-top: 5%; */
    }

    .trainers {
        width: 100%;
        padding: 2%;
        display: f;
        /* margin-top: 50%; */
    }

    button {
        /* width: 50%; */
        font-size: 2vw;
    }

    .error-message-box {
        /* font-size: 1.5vw; */
        width: 50%;
    }
}



