<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan</title>
    <link rel="stylesheet" href="./styles/plan.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gajraj+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <div class="sidebar">
        <div class="user">
            <img class="profile-icon" id="profile-icon" src="../assets/images/Icon1.png" alt="logo">
            <span class="name" id="name">Juan Dela Cruz</span>
            <span class="email" id="email">juandelacruz@gmail.com</span>
            <span class="menu material-symbols-outlined">menu</span>

        </div>
        <a href="dashboard.html">Dashboard</a>
        <a href="adminProfile.html">Admin Profile</a>
        <a class="active" href="#">Plan</a>
        <a href="payment.html">Payment</a>
        <a href="members.html">Members</a>
        <a href="trainers.html">Trainers</a>                                                                                                                    
        <a href="sales.html">Sales Report</a>
        <a href="administration.html">Administration</a>
        <a class="logout" id="logout-btn">Log out</a>
    </div>
    <div class="content">
        <header class="headers">
            <div class="header1">
                <div class="title">
                    <img class="title-icon" src="../assets/images/Icon.png" alt="">
                    <img src="../assets/images/IconTitle.png" alt="" class="title-name">
                    <div class="page-title">Plan</div>
                </div>
            </div>
            <div class="header2">
                <div class="dateTime">
                    <p class="date" id="date"></p>
                    <p class="time" id="time"></p>
                </div>
                <button class="addPlan">Add Plan</button>
            </div>
        </header>
        <section class="plan-content">
            <div class="plans">
                <div class="table-header">
                    <div class="search-wrapper">
                        <input type="search" name="search" id="search" class="plan-search" placeholder="Search" oninput="searchTable()">
                        <!-- <span class="material-symbols-outlined search-icon">search</span> -->
                    </div>
                </div>
                <div class="table-container">
                    <table class="plan-table">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">Plan ID <span class="material-symbols-outlined">swap_vert</span></th>
                                <th onclick="sortTable(1)">Name <span class="material-symbols-outlined">swap_vert</span></th>
                                <th onclick="sortTable(2, false, false, true)">Validity <span class="material-symbols-outlined">swap_vert</span></th>
                                <th onclick="sortTable(3, false, true)">Sessions <span class="material-symbols-outlined">swap_vert</span></th>
                                <th onclick="sortTable(4, false, true)">Amount <span class="material-symbols-outlined">swap_vert</span></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="plan-lists"></tbody>
                    </table>
                </div>
            </div>
            
        </section>
    </div>
    <div class="background" id="background"></div>
    <div class="error-message-box" id="error-message-box">
        <span class="error-title" id="error-title">Logout</span>
        <p class="error-message-login" id="error-message-login">Test message.</p>
        <div class="confirmation">
            <button class="confirm" type="button" onclick="confirmErrorMessageBox()" id="confirm-error-message-box">Confirm</button>
            <button class="close" type="button" onclick="closeErrorMessageBox()" id="close-error-message-box">Cancel</button>
        </div>
    </div>

    <div class="plan-modal" id="plan-modal">
        <span class="plan-modal-title" id="plan-modal-title">Add Plan</span>
        <div class="plan-modal-content">
            <div class="plan-subcontent-1">
                <div class="plan-id-content">
                    <label class="planIdTitle">Plan ID</label>
                    <input type="text" class="planId" id="planId">
                </div>
                <div class="plan-name-content">
                    <label class="planNameTitle">Plan Name</label>
                    <input type="text" class="planName" id="planName">
                </div>
            </div>
            <div class="plan-subcontent-2">
                <div class="plan-amount-content">
                    <label class="planAmountTitle">Amount</label>
                    <input type="number" class="planAmount" id="planAmount">
                </div>
                <div class="plan-validity-content">
                    <label class="planValidityTitle">Validity (Months)</label>
                    <input type="number" class="planValidity" id="planValidity">
                </div>
                <div class="plan-sessions-content">
                    <label class="planSessionsTitle"># of Sessions</label>
                    <!-- <input type="text" class="planSessions"> this should be dropdown -->
                     <select name="sessions" id="planSessions" class="planSessions">
                        <option value="N/A">N/A</option>
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="9">9</option>
                        <option value="12">12</option>
                        <option value="15">15</option>
                        <option value="18">18</option>
                        <option value="36">36</option>
                     </select>
                </div>
            </div>
        </div>
        <div class="plan-confirmation">
            <button class="addPlanModal" type="button" id="addPlanModal">Add</button>
            <button class="editPlanModal" type="button" id="editPlanModal">Edit</button>
            <button class="closePlanModal" type="button" id="closePlanModal">Cancel</button>
        </div>
    </div>

    <div class="action-modal">

    </div>
</body>

<script type="module" src="./javascript/plan.js"></script>
</html>